
    <img       style="width: 100%;"
      src="\assets\images\unsplash.png"
    />
  

<br><br>
  <mat-card class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <img
            style="width: 100%; height: auto"
            class="img-fluid img-thumbnail"
            src="\assets\images\Rectangle 15.png"
          />
        </div>
  
        <div
          class="col-sm-7 p-5 text-justify font-weight-normal text-space lead"
          style="font-size: 20px;font-family: dosis;"
        >
        <dl>
          <dt>Training for Corporates
          </dt>
          <br>
          <ul>
            <li>We can tailor the generic trainings we offer to suit any customer by using their choice of tools (Finite Element, Static and F&DT).

            </li>
            <br>
            <li>These will be taking an example of their product and preparing/tailoring the course based on the discussions and customer requirements.
            </li>
            <br>
            <li>The training program can then be continuously modified and offered repetitively as the new team members are joined in the program.
            </li>
          </ul>
          </dl>  
  
        </div>
      </div>
    </div>


