
    <img       style="width: 100%;"
      src="\assets\images\unsplash_ZYb_fGvNndA.png"
    />
  
<br><br>

<!-- Main -->
<div class="container">
  <h1 class="text-center" style="font-family: dosis;">Training for Individuals</h1>
  <p class="p-5 text-justify  font-weight-normal lead "
  style="font-size: 20px;font-family: dosis;">
  While there is no substitute for on-job training for obtaining the knowledge, skills and the competence required to perform any task and particularly for Structural Integrity Evaluation, a carefully designed training program can help enhance the learning process for individuals and hence reduce the overall costs to the organisations and improve productivity, especially when there is a recurring need due to various reasons.
<br><br>
  We are passionate about simplifying. The challenge of preparing a training program for different audience by simplifying the complex problem of Structural Integrity is what inspires us.
  <br><br>
  We offer the following training programs for individuals:
  
    
  </p>

  <mat-card class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img
            style="width: 100%; height: auto"
            class="img-fluid img-thumbnail"
            src="\assets\images\Rectangle 11.png"
          />
        </div>

        <div
          class="col-sm-6 p-5 text-justify font-weight-normal text-space lead"
          style="font-size: 20px;font-family: dosis;"
        ><dl>
          <dt>Basic trainings: 1 Day Courses</dt>
          <br>
          <ul>
            <li>Stress Awareness</li>
            <br>
            <li>Introduction to Regulations (CS/FAR 23, 25, 27 or 29)</li>
          </ul>
          </dl>
        </div>
      </div>
    </div>
  </mat-card>

  <br><br>

  <mat-card class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img
            style="width: 100%; height: auto"
            class="img-fluid img-thumbnail"
            src="\assets\images\Rectangle 13.png"
          />
        </div>

        <div
          class="col-sm-6 p-5 text-justify font-weight-normal text-space lead"
          style="font-size: 20px;font-family: dosis;"
        >
        <dl>
          <dt>Advanced Trainings: 3 Day Courses
          </dt>
          <br>
          <ul>
            <li>Static analysis of aircraft structures
            </li>
            <br>
            <li>Fatigue and Damage tolerance evaluation of Aircraft Structures</li>
          </ul>
          </dl>
        </div>
      </div>
    </div>
  </mat-card>

</div>
