.top-right {
  position: absolute;
  top: 8px;
  left: 16px;
}

h4 {
  color: #2c3cb2;
}

.container{

  background: #ffffff;
  box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
    5px -5px 10px rgba(230, 230, 230, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(230, 230, 230, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(230, 230, 230, 0.5);
}

#cont
{
  background: linear-gradient(135deg, #FFFFFF 0%, #EDEDED 100%);
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
border-radius: 5px;

}
