
 
  <img style="width: 100%" src="\assets\images\unsplash_1.png" />


<br><br>

<div class="container">
<h4 class="text-center" style="font-family: dosis;"><b>Student Project Works ( BRIDGE )</b></h4>
<p class="text-justify" style="font-size: 20px;font-family: dosis;">It is widely known that there exists a skill/competences gap between Industry and Academia. Both are separate worlds, they have different goals and mindsets. Without very close interaction between the two, meaningful technological advances (productively) are not possible. It is indeed a very complex and deep topic and we are not here to identify all the causes and address them, but instead proposes one practical approach – “Bridging the gap through student project works”.
<br><br>While this is not completely a new concept, what is new is the concept of an intermediate organization/professionals who are passionate about bridging this gap and are willing to work towards it with a concrete workable plan. What is innovative here is the idea of a platform/website/organization that acts as a bridge to connect both the worlds.
<br><br><b>This is how it is envisaged to work:
</b><br>   &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;          &nbsp;&nbsp;&nbsp; Industry identifies the the problem/issue that they are willing to ask academia to study/investigate/report. It can be a general topic or a specific product related topic, but with a specific question. Academia supplies the list of students, their interests along with the details of support (tools etc) they will receive in their institution.We will collaborate with all stake holders and define/help/deliver executable projects with specific objectives.

</p>

<div class="container" id="cont">
  <img class="w-100"src="\assets\images\Group 13.png"/>
</div>
<br><br>
<p class="text-justify" style="font-size: 20px;font-family: dosis;"><b>Result:</b><br>
  Academia needs are met as they get exposure to Industry environment and their latest products/processes/tools and hence improving the skill/competence of students as they finish their degree.
<br><br>
Industry will benefit from access to the latest research and technology and obtain direct assistance on your product design and manufacturing problems. Additionally Industry’s role of shaping the future education will be fulfilled by preparing graduates who understand both the technical requirements and the business needs.
<br><br>If you like this idea, have a suggestion or interested to participate, please get in touch.
<br><br>We currently have a number of mechanical and aerospace engineering (B.E and M.E) students willing to take up stress analysis topics for their final semester project work. If you are from Industry and have a specific topic, please get in touch to discuss.
 
</p>
</div>