

<!--<nav class="navbar navbar-expand-md bg-light navbar-light ">
   
    <div class="navbar-brand ">

      <img src="\assets\images\Group 14.png" />
      
    </div>

    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
   
    <div class="collapse navbar-collapse"  id="collapsibleNavbar">
      
     <ul class="navbar-nav" >
    <li class="nav-item active" >
      <a class="nav-link"  href="/home" ><b>Home</b></a>
    </li>
    <li class="nav-item"  >
      <a class="nav-link" href="/stress"><b>Aircraft Stress Analysis</b></a>
    </li>
    <li class="nav-item" >
      <a class="nav-link"  href="individuals"><b><u>Training for Individuals</u></b></a>
    </li>
    <li class="nav-item"  >
      <a class="nav-link"  href="corporates"><b><u>Training for Corporates</u></b></a>
    </li>
    <li class="nav-item"  >
      <a class="nav-link"  href="students"><b><u>Students Projects</u></b></a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" href="toolbox"><b><u>Tool box</u></b></a>
    </li>
    <li class="nav-item"  >
      <a class="nav-link" href="#"><b><u>Blog</u></b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><b><u>Contact Us</u></b> </a>
    </li>
  </ul>
  
    </div>
  </nav>-->

<nav class="navbar navbar-expand-md navbar-light z-index">
  <a class="navbar-brand" href="#"> <img src="\assets\images\Group 14.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" href="/home" style="color: white;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stress" style="color: white;">Aircraft Stress Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/individuals" style="color: white;">Training for Individuals</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="/corporates" style="color: white;">Training for corporates</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/students" style="color: white;">Student Projects</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/toolbox" style="color: white;">Tool-Box</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" style="color: white;">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;">Contact US</a>
      </li>
    </ul>
  </div>  
</nav>
