

  
    <img
      
      style="width: 100%;"
      src="\assets\images\Rectangle 1.png"
    />


<br /><br />

<mat-card class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 ">
        <img
          style="width: 100%; height: auto"
          class="img-fluid img-thumbnail"
          src="\assets\images\Rectangle 2.png"
        />
      </div>

      <div
        class="col-sm-4 p-5 text-justify font-weight-normal text-space lead"
        style="font-size: 20px;font-family: dosis;"
      >
        <strong>ENGINEER</strong> the solutions required for Aircraft Structural
        Repairs and Modifications and other industry problems.
      </div>
    </div>
  </div>
</mat-card>
<br />
<br />

<mat-card class="container" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <img
          style="width: 100%; height: auto"
          class="img-fluid img-thumbnail"
          src="\assets\images\Rectangle 3.png"
        />
      </div>

      <div
        class="col-sm-4 p-5 text-justify font-weight-normal text-space lead"
        style="font-size: 20px;font-family: dosis;"
      >
        <strong>EMPOWER </strong> students with industrial knowledge via project works.

      </div>
    </div>
  </div>
</mat-card>

<br><br>

<mat-card class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <img
          style="width: 100%; height: auto"
          class="img-fluid img-thumbnail"
          src="\assets\images\Rectangle 4.png"
        />
      </div>

      <div
        class="col-sm-4 p-5 text-justify font-weight-normal text-space lead"
        style="font-size: 20px;font-family: dosis;"
      >
        <strong>INNOVATE </strong>in carrying out and presenting the analysis of aircraft structural elements and in capturing the knowledge of engineering structures analysis in general.


      </div>
    </div>
  </div>
</mat-card>
