<!-- size-detector.component.html -->


  <img style="width: 100%" src="\assets\images\Rectangle 5.png" />

<br /><br />
<div class="container">
  <h1 class="text-center" style="font-family: dosis;">Aircraft Stress Analysis</h1>
  <p class="p-5 text-justify  font-weight-normal lead "
  style="font-size: 20px;font-family: dosis;">
    We undertake projects that require Structural Justification reports for
    Major and Minor Modifications and Repairs of Aircraft Primary and Secondary
    Structures as well as Aircraft Interiors (CS/FAR 23,25,27 and 29).
    <br><br>We have the expertise and resources to provide:
  </p>

  <mat-card class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <img
            style="width: 100%; height: auto"
            class="img-fluid img-thumbnail"
            src="\assets\images\Rectangle 8.png"
          />
        </div>

        <div
          class="col-sm-4 p-5 text-justify font-weight-normal text-space lead"
          style="font-size: 20px;font-family: dosis;"
        >
          Finite Element Analysis (for Internal and Interface Loads derivation
          as well as detail stressing)
        </div>
      </div>
    </div>
  </mat-card>

  <br><br>

  <mat-card class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <img
            style="width: 100%; height: auto"
            class="img-fluid img-thumbnail"
            src="\assets\images\unsplash_3.png"
          />
        </div>

        <div
          class="col-sm-4 p-5 text-justify font-weight-normal text-space lead"
          style="font-size: 20px;font-family: dosis;"
        >
        Static analysis to design the modifications and repairs and to comply with the required regulations

        </div>
      </div>
    </div>
  </mat-card>
  <br><br>


  <mat-card class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <img
            style="width: 100%; height: auto"
            class="img-fluid img-thumbnail"
            src="\assets\images\unsplash_4.png"
          />
        </div>

        <div
          class="col-sm-4 p-5 text-justify font-weight-normal text-space lead"
          style="font-size: 20px;font-family: dosis;"
        >
        Fatigue and Damage Tolerance Analysis to design the modifications and repairs and to comply with the required regulations

        </div>
      </div>
    </div>
  </mat-card>
<br><br>
  <mat-card class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <img
            style="width: 100%; height: auto"
            class="img-fluid img-thumbnail"
            src="\assets\images\unsplash_5.png"
          />
        </div>

        <div
          class="col-sm-4 p-5 text-justify font-weight-normal text-space lead"
          style="font-size: 20px;font-family: dosis;"
        >
        Preparation of structural substantiation reports and compliance demonstration reports

        </div>
      </div>
    </div>
  </mat-card>
</div>
